$primary-color: #ffd700;
$withe-color: #f5f5f5;

html {
    font-size:  62.5%;
}

body{
    margin: 0;
    font-family:'Helvetica Neue', sans-serif;
    color: #444;
    background: #0d0e3c;
    // background: #022c43;
    display: block;
    box-sizing: border-box;
    min-height: fit-content;
}

a{
    text-decoration: none;
}